---
Checks:
  - "clang-diagnostic-*"
  - "clang-analyzer-*"
  - "-clang-analyzer-unix.Errno"
  - "-clang-analyzer-security.insecureAPI.strcpy"
  - "-clang-analyzer-core.uninitialized.Assign"
  - "-clang-analyzer-optin.taint.TaintedDiv"
  - "-clang-analyzer-optin.taint.GenericTaint"
  - "-clang-analyzer-core.UndefinedBinaryOperatorResult"
  - "-clang-analyzer-unix.StdCLibraryFunctions"
  - "-clang-analyzer-security.FloatLoopCounter"
  - "-clang-analyzer-core.NonNullParamChecker"
  - "-clang-analyzer-core.CallAndMessage"
WarningsAsErrors: "*"
HeaderFilterRegex: ""
CheckOptions:
  - { key: readability-identifier-naming.FunctionCase, value: CamelCase }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
