---
Checks: "clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-unix.Errno,-clang-analyzer-security.insecureAPI.strcpy,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-optin.performance.Padding,-readability-identifier-naming,-clang-analyzer-unix.Stream,-clang-analyzer-core.uninitialized.Assign,-clang-analyzer-optin.taint.TaintedDiv,-clang-analyzer-unix.StdCLibraryFunctions"
WarningsAsErrors: ""
HeaderFilterRegex: ""
CheckOptions:
  - { key: readability-identifier-naming.FunctionCase, value: CamelCase }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
