name: CMake Build
on: [push, pull_request]

jobs:
  build_unix_gcc:
    # Set the name of this build, variable depending on the OS
    name: build ${{ matrix.os }} - ${{ matrix.compiler }} - ${{ matrix.build }}
    strategy:
      fail-fast: false
      # The matrix sets all the different combinations of builds, e.g. platforms
      # and build configurations
      matrix:
        os:
          - ubuntu-24.04
          - macos-14
        compiler:
          - gcc
          - clang
        build:
          - Debug
          - Release
    # Set the platform to build on
    runs-on: ${{ matrix.os }}
    steps:
      # Check out the smv repo
      - name: Checkout code
        uses: actions/checkout@v4
      # If we are currently building on Linux (ubuntu) install all the native
      # pre-requisites
      - name: Install linux deps
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install build-essential freeglut3-dev libx11-dev libxmu-dev libxi-dev libglew-dev libgd-dev libjson-c-dev
      # If we are building on macos configure the environment to use gcc-14 as
      # the compiler
      - name: set macos gcc
        if: runner.os == 'macOS' && matrix.compiler == 'gcc'
        shell: bash
        run: |
          echo "CC=gcc-14" >> $GITHUB_ENV
          echo "CXX=g++-14" >> $GITHUB_ENV
          brew install glew gd zlib json-c
      - name: set macos gcc
        if: runner.os == 'macOS' && matrix.compiler == 'clang'
        shell: bash
        run: |
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang" >> $GITHUB_ENV
          brew install glew gd zlib json-c
      # If we are building on linux configure the environment to use gcc as the
      # compiler
      - name: set linux gcc
        if: runner.os == 'Linux' && matrix.compiler == 'gcc'
        shell: bash
        run: |
          echo "CC=gcc" >> $GITHUB_ENV
          echo "CXX=g++" >> $GITHUB_ENV
      - name: set linux gcc
        if: runner.os == 'Linux' && matrix.compiler == 'clang'
        shell: bash
        run: |
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang" >> $GITHUB_ENV
      # Run cmake to build smokeview
      - name: Build
        shell: bash
        run: |
          cmake -B ${{github.workspace}}/cbuild -DSTRICT_CHECKS=ON -DCMAKE_BUILD_TYPE=${{ matrix.build }}
          cmake --build ${{github.workspace}}/cbuild -j4 -v
          cp ${{github.workspace}}/cbuild/smokeview smokeview
      # Run the CMake-based tests on MacOS
      - name: Test
        if: runner.os == 'macOS'
        shell: bash
        run: |
          ctest --test-dir cbuild -j10 --output-on-failure -V
      # Run the CMake-based tests on Linux
      - name: Test
        if: runner.os == 'Linux'
        shell: bash
        run: |
          xvfb-run ctest --test-dir cbuild -j10 --output-on-failure -V
      # Archive the smokeview executable
      - name: Archive production artifacts
        if: matrix.build == 'Release'
        uses: actions/upload-artifact@v4
        with:
          name: smokeview-${{ runner.os }}-${{ matrix.compiler }}
          path: smokeview
  build_windows_msvc:
    name: build ${{ matrix.os }} - msvc - ${{ matrix.build }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2022
        build:
          - Debug
          - Release
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Pin vcpkg version
        run: |
          cd C:\vcpkg
          git fetch
          git checkout 5c6220035e9de2741e9f55571d63e4f97839b36e
          .\\bootstrap-vcpkg.bat
      - name: build smokeview
        shell: cmd
        run: |
          cmake --version
          cmake -B ${{github.workspace}}\cbuild -DSTRICT_CHECKS=ON -DCMAKE_BUILD_TYPE=${{ matrix.build }} -DVCPKG_TARGET_TRIPLET=x64-windows-static -DCMAKE_TOOLCHAIN_FILE=%VCPKG_INSTALLATION_ROOT%/scripts/buildsystems/vcpkg.cmake
          cmake --build ${{github.workspace}}\cbuild -j4 --config ${{ matrix.build }}
          copy ${{github.workspace}}\cbuild\${{ matrix.build }}\smokeview.exe smokeview.exe
      - name: Test
        shell: bash
        working-directory: ${{github.workspace}}/cbuild
        run: |
          ctest -j10 -C ${{ matrix.build }} --output-on-failure
      - name: Archive production artifacts
        if: matrix.build == 'Release'
        uses: actions/upload-artifact@v4
        with:
          name: smokeview-windows-msvc
          path: smokeview.exe
